h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
.column{
  width:30%;
  float: left;
  margin: 10px 10px 10px 10px;
  border: 2px solid black;
  padding: 10px;
}
img{
  width: 350px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

body {
  margin-left: 50px;
  background-color: lightgrey;
}
